<div class="page">
  <i class="fa-solid fa-arrow-down big-arrow"></i>
  <h1>Welcome to My Portfolio</h1>
  <p>Explore my projects and learn more about my journey in tech.</p>

  <h2>About Me</h2>
  <p>I'm Rachel! I am super passionate about helping others and want to create positive experiences for people through design and technology that solves real-world needs.

  I started my programming journey with a six month bootcamp at Le Wagon, Tokyo.

  Outside of improving my development skills, I enjoy running, various types of dance, reading, tending to my houseplants, and of course, lots of coffee.
  </p>
  <h2>Projects </h2>
  <h3>FreshTracker</h3>
</div>
