html, body {
  scroll-behavior: smooth;
  background-color: grey;
  text-align: center;
}

.page {
  background-color: white;
  margin-top: 80vh;
  margin-left: 5%;
  margin-right: 5%;
}

.big-arrow {
  font-size: 64px;
}
